@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Sniglet');

body{
  font-family:'メイリオ',sans-serif;
  margin:0 auto;
  text-align:center;
  font-size:75%;
  line-height: 1.5;
  max-width:100%;
}

p{
  text-align:left;
  display:inline-block;
  width:65%;
}

a {color:#20b2aa}
a:hover {color:#20b2aa}

/*headerのセクション*/
header{
  position:fixed;
  top:0;
  left:0;
  height:50px;
  padding:0 0 10px;
  z-index:1;
  background-color:#fff;;
  width:100%;
  display:table;
}

header h1, nav {
display:table-cell;
padding:10px;}

header a{
text-decoration:none;
}

header h1 {color:#ffd700;
font-family:'Sniget', cursive;}

header nav {
text-align:right;
vertical-align:bottom;}

header ul {
font-size:14px;
line-height:1;
margin:0 10px 10px 0}

header ul li {
margin-left:3px;
display:inline-block}

header ul li::after {content:' |'}
header ul li:last-child::after {content:''}
header ul li a {color:#000;}

#navToggle {

position:absolute;
right:20px;
top:20px;
width:30px;
height:30px;
cursor:pointer}

#navToggle div {position:relative} /*spanの絶対位置指定の親にします*/
#navToggle span {
display:block;
position:absolute; /*#navToggle div に対して*/
width:100%;
border-bottom:solid 3px #999;
transition: .35s ease-in-out}

#navToggle span:nth-child(1) {top:0}
#navToggle span:nth-child(2) {top:11px}
#navToggle span:nth-child(3) {top:22px}

header nav {
position: absolute;
right:0;
top: -700px;
background:rgba(255,255,255,.7);
width:50%;
padding:0 10px;
transition:.5s ease-out;
text-align:left}

header a{
text-decoration:none;
color:#000;
border-bottom:none;}

header ul {margin:0}
header ul li {
display:block;
margin:0;
border-bottom:dotted 1px #333;
line-height:1.5rem}

header ul li a {display:block}
header ul li::after {content:''}
header ul li:last-child {border-bottom:none}

.openNav #navToggle {display:block}

.openNav #navToggle span:nth-child(1) {
top: 11px;
transform:rotate(-45deg)}

.openNav #navToggle span:nth-child(2),
.openNav #navToggle span:nth-child(3) {
top: 11px;
transform:rotate(45deg)}

.openNav nav {
transform: translateY(750px);
}

/*サイトトップのセクション*/
.top_wrapper{
padding-top:5px;
 padding-bottom:30px;
 background:linear-gradient(-45deg,#c6ffdd,#fbd786, #f7797d);
}

.top{
  text-align:left;
  font-size:10px;
  display:inline-block;
  padding:15px;
}

/*headingのセクション*/
.heading{
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom:15px;
  letter-spacing: 2px;
  font-size:3rem;
}

.heading::before,
.heading::after{
  content:'';
  position: absolute;
  right:0;
  bottom:0;
  left:0;
  bottom::5px;
}

.site-title-sub{
  margin:200px 0 30px;
  font-size: 1.0rem;
  letter-spacing: 1px;
  font-family:'Indie Flower', cursive;
}

.site-title-sub::before,
.site-title-sub::after{
 content:'';
 display: inline-block;
 width: 20px;
 height: 2px;
 margin: 0 10px;
 background-color:#000;
 vertical-align:middle;
}

.site-title{
  margin:50px 0 30px;
  font-size: 6rem;
  font-weight:bold;
  font-family:'Indie Flower', cursive;
  color:#FFF;
}

/*about usのセクション*/
.about{
  padding:80px 30px;
  background-color:#E6E6E6;
  color:#333;
}

/*peopleのセクション*/
.people{
  padding:80px 30px;
  background-color:#fff;
  color:#333;
}

/*要素の非表示と表示*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.research{
  padding:80px 30px;
  background-color:#eff2ea;
  color:#333;
}

.research h4{
  text-align:left;
  display:inline-block;
  width:80%;
}

.NEWS{
  padding:80px 30px;
  background-color:#d6d5d4;
}

.scroll-list{
  max-height:250px;
  max-width:350px;
  overflow-y:auto;
  list-style-type:none;
  background-color:#fff;
  padding: 0;
  margin:0;
  align: center;
  margin-left:auto;
  margin-right:auto;
}

.scroll-list .date{
  display: inline-block;
  width:15%;
  text-align:left;
  font-size:0.5rem;
}

.scroll-list .event{
  display:inline-block;
  width:80%;
  text-align:left;
  white-space:nowrap;
  font-size:0.5rem;
}

.contact{
  padding:80px 30px;
  background-color:#fff;
  color:#333;
}

.contact-wrapper{
  display: table;
  width:80%;
  margin: 50px auto 0;
  table-layout:fixed;
}

.contact-box{
  display: table-cell;
  font-size:0.7em;
}

.access{
  padding:80px 30px;
  background: #eaeaea;
}

.footer{
  width:100%;
}
